.draggable-list {
  width: 500px;
  margin:20px;
  border: 1px solid grey;
}

.draggable-list-item {
  background: rgba(100,0,255, 0.4);
  border: 2px solid rgba(100,0,255, 0.8);
  padding:10px;
  margin:20px;
  width:calc(100% - 60px);
}
.draggable-list-item.active {
  opacity: 0.5;
  filter: hue-rotate(180deg);
}

.target {
  background: rgba(255,0,100, 0.4);
  border: 2px solid rgba(255,0,100, 0.8);
  padding:10px;
  margin:20px;
  width:calc(100% - 60px);
}

.ghost {
  opacity: 0.2;
}
